rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // USUÁRIO - SÓ PODE ALTERAR DADOS PRÓPRIOS
    match /users/{uid} {
      allow read, write, update, delete: if request.auth != null && request.auth.uid == uid;
    }

    // FUNÇÃO VALIDA OWNER DA ACADEMIA
    function isOwner(gymId) {
      return request.auth != null &&
        get(/databases/$(database)/documents/academies/$(gymId)).data.ownerUid == request.auth.uid;
    }

    // ACADEMIA
    match /academies/{gymId} {
      // GET, LIST - QUALQUER
      allow get, list : if request.auth != null;

      // REVER: CREATE E UPDATE- AUTENTICADO E SE FOR OWNER OU NÃO TIVER OWNER
      allow create, update: if request.auth != null && (
        !('ownerUid' in request.resource.data) ||
        request.resource.data.ownerUid == request.auth.uid
      );

      // DELETER - APENAS OWNER
      allow delete: if isOwner(gymId);

      // SUBCOLEÇÃO DE TRAINERS
      match /teachers/{tid} {
        // READ - QUALQUER
        allow read: if request.auth != null;

        // CREATE, UPDATE E DELETE - OWNER OU PRÓPRIO TRAINER
        allow create: if request.auth != null && (
          isOwner(gymId) ||
          (
            request.auth.uid == tid &&
            request.resource.data.uid == request.auth.uid &&
            request.resource.data.gym_id == gymId
          )
        );
        allow update: if request.auth != null && request.auth.uid == tid;
        allow delete: if request.auth != null && (isOwner(gymId) || request.auth.uid == tid);
      }

      // SUBCOLEÇÃO DE STUDENTS
      match /students/{sid} {
        // READ - QUALQUER AUTENTICADO
        allow read: if request.auth != null;
        // CREATE, UPDATE E DELETE - OWNER OU PRÓPRIO ALUNO
        allow create: if request.auth != null && (
          isOwner(gymId) ||
          (
            request.auth.uid == sid &&
            request.resource.data.uid == request.auth.uid &&
            request.resource.data.owner_id is string &&
            request.resource.data.gym_id is string &&
            request.resource.data.trainer_id is string
          )
        );
        allow update: if request.auth != null && (request.auth.uid == sid || isOwner(gymId));
        allow delete: if request.auth != null && (isOwner(gymId) || request.auth.uid == sid);
      }

      // SUBCOLEÇÃO DE EXERCISES
      match /exercises/{exerciseId} {
        // TODOS - QUALQUER AUTENTICADO
        allow read, create, update, delete: if request.auth != null;
      }

      // SUBCOLEÇÃO DE WORKOUTS
      match /workouts/{workoutId} {
        // READ - QUALQUER AUTENTICADO
        allow read: if request.auth != null;
        // CREATE - OWNER OU TRAINER
        allow create: if request.auth != null &&
          exists(/databases/$(database)/documents/academies/$(gymId)/teachers/$(request.auth.uid)) &&
          request.resource.data.trainerId == request.auth.uid;
        // UPDATE, DELETE - APENAS TRAINER DONO DO TREINO
        allow update, delete: if request.auth != null && (
          resource.data.trainerId == request.auth.uid);
      }

      // SUBCOLEÇÃO DE WORKOUT ASSIGNMENTS
      match /workout_assignments/{assignmentId} {
        // LIBERA LEITURA AO OWNER, TRAINER E ALUNO
        allow read: if request.auth != null && (
          isOwner(gymId) ||
          exists(/databases/$(database)/documents/academies/$(gymId)/teachers/$(request.auth.uid)) ||
          resource.data.studentId == request.auth.uid
        );
        // LIBERA ESCRITA AO OWNER OU TRAINER
        allow create, update, delete: if request.auth != null && (
          exists(/databases/$(database)/documents/academies/$(gymId)/teachers/$(request.auth.uid))
        );
      }

      // FALLBACK DAS SUBCOLEÇÕES -  SÓ OWNER
      match /{document=**} {
        allow read, write, update, delete: if isOwner(gymId);
      }
    }

// CORRIGIR DAQUI PRA BAIXO, TA FORA DO ESCOPO DA ACADEMIA

    // CONVITES DE TRAINER
    match /invites/{code} {
      allow read: if request.auth != null;
      // LIBERA CRIAÇÃO AO OWNER LOGADO
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      // LIBERA USO ÚNICO DO CONVITE
      allow update: if request.auth != null &&
        (resource.data.usedBy == null || resource.data.usedBy == '') &&
        request.resource.data.usedBy == request.auth.uid &&
        (resource.data.expiresAt == null || request.time < resource.data.expiresAt);
      // LIBERA EXCLUSÃO AO OWNER OU USUÁRIO
      allow delete: if request.auth != null &&
        (resource.data.ownerUid == request.auth.uid || resource.data.usedBy == request.auth.uid);
    }

    // CONVITES DE ALUNO
    match /studentInvites/{code} {
      allow read: if request.auth != null;
      // LIBERA CRIAÇÃO APENAS AO OWNER
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      // LIBERA MARCAÇÃO DE USO DO CONVITE
      allow update: if request.auth != null &&
        (!('usedBy' in resource.data) || resource.data.usedBy == null || resource.data.usedBy == '') &&
        request.resource.data.usedBy == request.auth.uid;
      // LIBERA EXCLUSÃO AO OWNER OU USUÁRIO
      allow delete: if request.auth != null &&
        (resource.data.ownerUid == request.auth.uid || resource.data.usedBy == request.auth.uid);
    }

    // FALLBACK GLOBAL PARA EXERCISES
    match /{path=**}/exercises/{eid} {
      allow read, write, update, delete: if request.auth != null;
    }
    
    // FALLBACK GLOBAL PARA TRAINERS
    match /{path=**}/teachers/{tid} {
      allow read: if request.auth != null && request.auth.uid == tid;
    }
    
    // FALLBACK GLOBAL FINAL
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}

